{% extends "layout.html"%}
{% block content%}
    <div class="container mt-auto align-items-center">
        <form action="" method="post">
            {{ form.hidden_tag}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login to your account</legend>
                
                <div class="form-group">
                    {{ form.email.label(class='form-control-label')}}
                    {{ form.email(class='form-control form-control-lg')}}
                </div>

                <div class="form-group">
                    {{ form.password.label(class='form-control-label')}}
                    {{ form.password(class='form-control form-control-lg')}}
                </div>

                <div class="form-group">
                    {{ form.submit(class='btn btn-outline-info')}}
                </div>

                 <div class="form-check">
                    {{ form.remember.label(class='form-check-input')}}
                    {{ form.remember(class='form-chech-input-label')}}
                </div>

            </fieldset>
        </form>
        <small class="text-muted">
                <a href="#">Forgot password?</a>
            </small>
        
        <small class="text-muted">
            Need an account?
            <a href="{{url_for('register')}}" class="ml-2">Sign up here</a>
        </small>
    </div>
{%endblock content%}